html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container {
      background-color: bisque;
  }

@media screen and (max-width: 412px) {
    .container {
        padding: 2em
    }

    .container p {
        font-size: 2em;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    header p {
        font-size: larger;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
    

}

@media screen and (min-width: 413px) and (max-width: 1023) {


}