#header {
    margin-top: 20px;
}

#question {
    margin-top: 20px;
}

#razao-texto {
    resize: none;
}

.tamanho-checkbox {
    font-size: small;
}

.botoes {
    display: flex;
    align-self: flex-end;
}

#btns-container {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#datepicker {
    margin: 10px;
}