h1, p {
  text-align: center;
}

ul, ol {
  list-style: none;
}

li {
  max-width: fit-content;
}


li:hover {
  background-color: blue;
}
li:hover {
  color: white;
}
li:active {
  font-style: italic;
}